[loggers]
keys=root, tester, repCode, hammingCode

[handlers]
keys=root_stream, tester_stream

[formatters]
keys=root_stream, tester_stream

[logger_root]
level=NOTSET
handlers=root_stream

[logger_tester]
level=DEBUG
handlers=tester_stream
propagate=0
qualname=tester

[logger_repCode]
level=DEBUG
handlers=tester_stream
propagate=0
qualname=repCode

[logger_hammingCode]
level=DEBUG
handlers=tester_stream
propagate=0
qualname=hammingCode


[handler_root_stream]
class=StreamHandler
level=DEBUG
formatter=root_stream
args=(sys.stdout,)

[handler_tester_stream]
class=StreamHandler
level=DEBUG
formatter=tester_stream
args=(sys.stdout,)

[formatter_root_stream]
format=F1 %(asctime)s %(levelname)s %(message)s %(customfield)s
datefmt=
style=%
validate=True
defaults={'customfield': 'defaultvalue'}
class=logging.Formatter

[formatter_tester_stream]
format=%(levelname)s [F2 %(filename)s:%(lineno)s %(funcName)s()] :::: %(message)s
datefmt=
style=%
validate=True
defaults={'customfield': 'defaultvalue'}
class=logging.Formatter